body {
    margin: 0;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

.header, .footer {
    background-color: #131313;
    
  
}


.header_container, .footer_container{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo{
    color: #E3B873;
    font-size: 11px;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: italic;
}

.header-navigation, .footer-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item, .footer-navigation__item {
    margin-right: 47px;
    font-size: 11px;
    
}

.header-navigation__item a {
    color: white;
}
.footer-navigation__item a {
    color: white;
}

.phone{
    font-size: 11px;
    font-family: Nunito Sans;
    color: #E3B873;
    text-decoration: underline;
}
.title{
    margin: 0;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
    font-family: Yeseva One, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal; 
    z-index: 10;
    width: 675px;
    height: 105px;
    

}

.hero {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px; 
    position: relative;

}

.hero_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    
}





.yellowFonts_city{
    color: #E3B873;
}

.promo{
    padding-top: 194px;
    padding-left: 42px; 
}

.promo_descr{
    width: 504px;
    height: 89px;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 22px;
    color: white;
    margin-bottom: 41px;
}

.buttons{
    list-style: none;
}
.hero_buttons {
    display: flex;
    flex-direction: row;
    padding: 0;

}

.hero_button{
    margin-right: 20px;
    
 }

.hero_button:last-child{
    margin-right: 0;
}
.hero_button-item{
    height: 51px;
    width: 207px;
    background: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    color: #FFFFFF;
    
}

.hero_button-item:hover{
    background: #E3B873; 
    border: none; 
}


.slider_section{
    background-color: black;
    height: 1174px;
}

.slider_title {
    font-family: Yeseva One;
    font-size: 27px;
    color: #E3B873;
    margin: 0;
    padding-top: 176px;
}

.slider_main {
    display: flex;
    flex-direction: row;
}

.slider_details {
    display: flex;
    flex-direction: row;
}

.project_title{
    display: flex;
    flex-direction: row;
    margin-bottom: 52px;
    color:  #E3B873;
}
.slider_text{
    width: 442px;
    height: 86px;
    font-family: Nunito Sans;
    font-size: 14px;
    color: white;
}

.city, .time, .area, .price {
    color: #E3B873;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.city_name, .time_details, .area_details, .price_details {
    color: white;
}

.city_name{
    width: 161px;
    height: 42px;
}

.slider_details-left{
    margin-right: 29px;
}

.area_details{
    margin-bottom: 40px;
}

.project_title-item{
    color: rgba(255, 255, 255, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-right: 60px;
    padding-bottom: 6px;
}

.project_title-itemActive{
    
    font-size: 14px;
    font-family: Yeseva One;
    text-transform: uppercase;
    color: #E3B873;
    border-bottom: 1px solid  #E3B873; 
}



.slider_right{
    padding-top: 107px;
}



.slider_navigation{
    display: flex;
    flex-direction: row;
}

.slider_navigation{
    display: flex;
    flex-direction: row;
    padding-top: 85px;
}

.dots{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 29px;
    padding-right: 29px;
    }

.dot_item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    margin-right: 17px;
}

.dot_item:last-child{
    margin-right: 0;
}
.dot-active{
    color: white; 
    margin-right: 17px;
}

.completion{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.slider_footer{
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    //padding-bottom: 257px;
}

.slider_footer-images{
    display: flex;
    justify-content: center;
}

.player{
    height: 434px;
    width: 817px;
    position: relative;
    background-image: url("../images/playerImage.png");
    margin-top: -217px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.line_player::before{
    content: "";
    width: 55px;
    height: 1px;
    color: #E3B873;
}

.player_overlay{
    
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        
}

.play_sign{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playerText{
    height: 130px;
    width: 681px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 93px;

color: #363636;
}

.form{
    display: flex;
    flex-direction: column;
}

.input_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input{
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    width: 231px;
}

.label_descr{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.label{
    margin-right: 51px;
}

.submit_button{
    width: 200px;
    height: 51px;
}

.type_item-image {
    height: 421px;
    width: 392px;
}

.redecorating_title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-left: 34px;
    padding-top: 25px;
}

.redecorating_descr-list-item{
    list-style: disc ;
}

.redecorating_descr{
    margin-top: -110px;
    background:white;
    width: 330px;
    height: 286px;
    position: relative;
    margin-left: 31px;
}

.price_label{
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-left: 31px;
    margin-top: -27px;
    position: relative;
    justify-content: center;
    
}

.types{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media(max-width:1272px) {
    .header_container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:1080px){
    .header-navigation__item{
        margin-right: 20px;
    }  
    .header_container{
        display: flex;
        justify-content: center;
    }
    .phone{
        margin-right: 20px;
    }

}


@media(max-width:920px){
    .header-navigation{
        padding: 5px; 
    }
    .button{
        padding: 10px 20px;
    }
}


@media(max-width:768px){
    .header-navigation, .button{
        display: none;
    }

    .phone{
        text-decoration: none;
        color: white;
        padding-right: 18px;
    }
    .header_container {
        display: flex;
        justify-content: space-between;
         }
}





@media(max-width:578px){
    .title{
        font-size: 23px;
        line-height: 132.83%;
        margin-bottom: 32px;
    }
    .promo_descr{
        font-size: 14px;
        width: 339px;
         }
    .hero_buttons{
        display: flex;
        flex-direction: column;
    }

    .hero_button-item{
        width: 338px;
        margin-bottom: 26px;
    }
    .promo_descr{
        margin-bottom: 0;
    }
    .title{
        margin-bottom: 0;
        height: 60px;
    }
    .promo{
        padding-top: 80px;
        padding-left: 18px;
    }
    .hero{
        height: 476px;
    }
}



